In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/admission/train.csv")

In [2]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,246,328,110,4,4.0,2.5,9.02,1,0.81
1,100,323,113,3,4.0,4.0,8.88,1,0.79
2,79,296,95,2,3.0,2.0,7.54,1,0.44
3,53,334,116,4,4.0,3.0,8.00,1,0.78
4,444,321,114,5,4.5,4.5,9.16,1,0.87

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance of Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [6]:
# Q1. Serial No. 컬럼을 제외하고 'Chance of Admit'을 종속변수, 나머지 변수를 독립변수라 할때, 랜덤포레스트를 통해 회귀 예측을 할 떄 변수중요도 값을 출력하라 (시드값에 따라 순서는 달라질수 있음)
from sklearn.ensemble import RandomForestRegressor

df_t = df.drop([df.columns[0]], axis=1)

X = df_t.drop(['Chance of Admit'], axis=1)
y = df_t['Chance of Admit']

rf = RandomForestRegressor()
rf.fit(X,y )

pd.DataFrame({'importance':rf.feature_importances_}, X.columns).sort_values('importance', ascending=False)

                   importance
CGPA                 0.822902
GRE Score            0.076603
TOEFL Score          0.032959
LOR                  0.024151
SOP                  0.023039
University Rating    0.013362
Research             0.006985

## 유형 2

In [7]:
Main_name = 'admission'
target_col = 'Chance of Admit'

trainData  = f'https://raw.githubusercontent.com/Datamanim/datarepo/main/{Main_name}/train.csv'
testData  = f'https://raw.githubusercontent.com/Datamanim/datarepo/main/{Main_name}/test.csv'
subData  = f'https://raw.githubusercontent.com/Datamanim/datarepo/main/{Main_name}/submission.csv'


#데이터로드
import pandas as pd

train = pd.read_csv(trainData)
test = pd.read_csv(testData)
submission = pd.read_csv(subData)

In [9]:
train.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,246,328,110,4,4.0,2.5,9.02,1,0.81
1,100,323,113,3,4.0,4.0,8.88,1,0.79
2,79,296,95,2,3.0,2.0,7.54,1,0.44
3,53,334,116,4,4.0,3.0,8.00,1,0.78
4,444,321,114,5,4.5,4.5,9.16,1,0.87

In [14]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

X = df_t.drop(['Chance of Admit'], axis=1)
X = pd.get_dummies(X)
y = df_t['Chance of Admit']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

rf = RandomForestRegressor(random_state=42)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

print(r2_score(y_test, y_pred))

0.817768844519861

In [19]:
test = test.drop(['Serial No.'], axis=1)
test = pd.get_dummies(test)
pred_test = rf.predict(test)
print(pred_test)

[0.6135 0.6775 0.7968 0.888  0.5458 0.503  0.6572 0.563  0.5673 0.6065
 0.5228 0.6495 0.6148 0.6451 0.7312 0.7768 0.6648 0.6663 0.6121 0.5538
 0.4577 0.7841 0.7518 0.9387 0.9139 0.9294 0.7124 0.719  0.7058 0.8495
 0.7167 0.7427 0.8755 0.7021 0.6451 0.5708 0.5508 0.6056 0.6724 0.6835
 0.557  0.7762 0.9206 0.8751 0.9122 0.8716 0.9292 0.8275 0.7763 0.756
 0.8087 0.8997 0.9159 0.7499 0.6664 0.5622 0.539  0.407  0.6595 0.8996
 0.7677 0.6666 0.588  0.5823 0.456  0.6443 0.7577 0.776  0.8157 0.8532
 0.9047 0.6417 0.9144 0.6789 0.5878 0.5856 0.6378 0.6571 0.6943 0.8012
 0.7976 0.7476 0.81   0.6521 0.6861 0.6963 0.6931 0.829  0.7283 0.636
 0.675  0.5529 0.544  0.623  0.6721 0.8145 0.9588 0.9326 0.726  0.8107]

## 1 유형

In [20]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv")

In [21]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6
1,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
2,7.1,0.36,0.30,1.6,0.080,35.0,70.0,0.99693,3.44,0.50,9.4,5
3,7.6,0.29,0.49,2.7,0.092,25.0,60.0,0.99710,3.31,0.61,10.1,6
4,7.7,0.51,0.28,2.1,0.087,23.0,54.0,0.99800,3.42,0.74,9.2,5

## Q1. quality 값이 3인 그룹과  8인 데이터그룹의 각 컬럼별 독립변수의 표준편차 값의 차이를 구할때  가장 큰 컬럼을 구하여라

In [25]:
std_3 = df.loc[df['quality'] == 3].std()
std_8 = df.loc[df['quality'] == 8].std()

abs(std_3 - std_8).sort_values(ascending=False)

total sulfur dioxide    9.863977
free sulfur dioxide     1.482114
residual sugar          0.891206
alcohol                 0.273466
volatile acidity        0.203168
citric acid             0.079027
chlorides               0.056523
pH                      0.050075
fixed acidity           0.015761
sulphates               0.003621
density                 0.000009
quality                 0.000000
dtype: float64

In [27]:
print(abs(std_3 - std_8).sort_values(ascending=False).index[0])

total sulfur dioxide

## 유형 2

In [28]:
Main_name = 'redwine'
target_col = 'quality'

trainData  = f'https://raw.githubusercontent.com/Datamanim/datarepo/main/{Main_name}/train.csv'
testData  = f'https://raw.githubusercontent.com/Datamanim/datarepo/main/{Main_name}/test.csv'
subData  = f'https://raw.githubusercontent.com/Datamanim/datarepo/main/{Main_name}/submission.csv'


#데이터로드
import pandas as pd

train = pd.read_csv(trainData)
test = pd.read_csv(testData)
submission = pd.read_csv(subData)

In [29]:
train.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6
1,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8
2,7.1,0.36,0.30,1.6,0.080,35.0,70.0,0.99693,3.44,0.50,9.4,5
3,7.6,0.29,0.49,2.7,0.092,25.0,60.0,0.99710,3.31,0.61,10.1,6
4,7.7,0.51,0.28,2.1,0.087,23.0,54.0,0.99800,3.42,0.74,9.2,5

In [30]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1279 entries, 0 to 1278
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1279 non-null   float64
 1   volatile acidity      1279 non-null   float64
 2   citric acid           1279 non-null   float64
 3   residual sugar        1279 non-null   float64
 4   chlorides             1279 non-null   float64
 5   free sulfur dioxide   1279 non-null   float64
 6   total sulfur dioxide  1279 non-null   float64
 7   density               1279 non-null   float64
 8   pH                    1279 non-null   float64
 9   sulphates             1279 non-null   float64
 10  alcohol               1279 non-null   float64
 11  quality               1279 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 120.0 KB

In [31]:
X = train.drop(['quality'], axis=1)
y = train['quality']

X.shape

(1279, 11)

In [34]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

rf = RandomForestRegressor(random_state=42)
rf.fit(X_train, y_train)
y_pred = rf.predict(X_test)

print(r2_score(y_test, y_pred))

0.4576590578936126

In [35]:
test_pred = rf.predict(test)
print(test_pred)

[6.03 5.9  5.9  5.9  5.81 5.34 5.55 6.21 5.58 5.14 5.14 5.4  5.94 6.09
 4.91 5.94 4.98 4.98 5.99 6.06 4.57 5.99 6.45 6.17 5.36 4.99 5.03 5.43
 5.57 5.43 5.08 5.03 6.01 5.07 5.55 5.57 5.94 5.98 6.19 5.94 5.75 5.32
 5.99 5.98 6.7  6.02 6.02 6.02 6.02 5.11 5.82 5.82 5.   5.2  4.99 4.8
 6.11 5.08 5.08 5.08 5.94 5.94 5.94 5.53 5.94 5.34 5.65 5.13 5.04 5.04
 5.75 5.41 5.87 5.19 5.19 5.04 5.64 5.51 5.99 4.95 5.92 5.15 5.2  5.92
 5.01 5.95 5.17 5.   5.68 5.02 5.37 5.09 6.19 5.09 5.04 3.93 5.12 5.01
 6.02 5.61 5.91 5.91 4.89 5.01 5.01 5.03 4.96 5.03 5.03 5.62 5.23 6.
 5.12 5.79 5.16 5.17 5.74 5.71 5.06 5.39 5.97 5.05 5.05 6.93 7.14 5.96
 6.85 6.21 5.96 6.6  5.96 4.98 5.86 6.21 5.28 5.26 5.49 5.26 6.84 5.04
 5.06 5.04 5.18 6.   4.82 5.98 5.98 6.35 5.72 5.22 6.06 5.31 5.31 6.64
 6.57 5.17 5.17 4.44 4.86 5.03 5.9  6.99 4.94 5.11 5.26 5.9  4.93 5.11
 5.28 5.13 7.26 6.99 6.78 6.25 5.1  6.   5.69 5.92 5.1  5.3  7.   5.84
 4.57 5.93 5.89 5.16 5.16 5.38 4.28 5.38 3.72 5.04 5.37 6.22 5.72 5.16
 7.02 5.16 7.02 3.76 5.26 5.22 5.26 4.57 5.99 4.5  5.18 5.23 5.35 5.09
 5.82 6.13 5.09 5.63 5.05 6.64 6.04 5.05 5.9  4.82 5.9  5.   4.96 5.07
 6.07 5.85 5.06 5.84 5.85 5.96 6.49 5.86 5.51 5.77 5.91 5.71 5.71 6.05
 5.8  5.16 5.35 5.8  4.77 6.05 5.82 5.89 5.82 5.87 6.07 5.9  5.77 6.04
 5.32 5.83 5.56 5.99 5.78 5.49 5.68 5.28 5.21 5.97 6.7  5.48 5.45 6.53
 5.85 5.24 5.32 5.17 6.78 5.02 5.06 5.84 5.16 5.92 6.49 5.01 5.92 4.97
 5.02 5.02 5.02 5.03 5.03 5.03 5.69 6.08 5.03 5.09 5.73 6.71 6.17 5.13
 5.98 5.84 6.04 5.97 6.01 5.89 5.73 6.09 5.73 5.49 5.32 6.81 6.07 6.13
 5.72 6.4  5.01 6.2  5.87 6.02 5.82 5.88 5.88 6.02 5.25 6.37]