In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("dataset/basic1.csv")
df

       id    age city    f1  f2   f3    f4         f5
0    id01    2.0   서울   NaN   0  NaN  ENFJ  91.297791
1    id02    9.0   서울  70.0   1  NaN  ENFJ  60.339826
2    id03   27.0   서울  61.0   1  NaN  ISTJ  17.252986
3    id04   75.0   서울   NaN   2  NaN  INFP  52.667078
4    id05   24.0   서울  85.0   2  NaN  ISFJ  29.269869
..    ...    ...  ...   ...  ..  ...   ...        ...
95   id96   92.0   경기  53.0   1  NaN  ENTJ  52.667078
96   id97  100.0   경기   NaN   0  NaN  INFP  67.886373
97   id98   39.0   경기  58.0   2  NaN  INFP  98.429899
98   id99    1.0   경기  47.0   0  NaN  ESFJ  97.381034
99  id100   47.0   경기  53.0   0  vip  ESFP  33.308999

[100 rows x 8 columns]

In [3]:
cond1 = df['f4'] == 'ENFJ'
cond2 = df['f4'] == 'INFP'

In [10]:
cond1_std = df[cond1]['f1'].std()

In [9]:
cond2_std = df[cond2]['f1'].std()

In [11]:
print(abs(cond1_std-cond2_std))

5.859621525876811

In [12]:
# 표준편차
## 모표준편차 -> 넘파이
## 표본표준편차 -> 판다스